/* ### Container begins here ### */

#container {
    width: 618px;
    height: 470px;
    border: 1px solid black;
    margin: auto;
    background-image: url("./images/aboutme.jpg");
    background-size: cover;
}


/* ### Sub-Headline begins here ### */

h2 {
    position: relative;
    letter-spacing: 1px;
    word-spacing: 6px;
    top: -75px;
}

#container>* {
    font-family: "Atma", cursive;
}

.small {
    width: 200px;
    height: 175px;
    background-color: #524a4ac4;
}

#aboutme1 {
    position: relative;
    top: -35px;
    left: 50px;
}

#aboutme2 {
    position: relative;
    left: 50px;
}

#aboutme3 {
    width: 280px;
    height: 386px;
    top: -386px;
    right: -290px;
    position: relative;
    background-color: #a1a1a1b6;
}