div {
    border: 1px solid black;
}

#wrapper {
    margin: auto;
    width: 750px;
    font-family: "Roboto", sans-serif;
}

img {
    width: 100%;
}


/* ################################################################################# ^ just for creating purposes */

#header,
#footer {
    background-color: #CABBB7;
}

#menu {
    background-color: #C65252;
    text-align: right;
    padding-right: 50px;
    height: 45px;
}

#menu a {
    color: #EEE6E6;
    text-decoration: none;
    position: relative;
    bottom: 4px;
    padding-right: 10px;
}