div {
    border: 1px solid black;
}

img {
    border: 1px solid black;
    width: 100%;
}


/* ################################################################################# ^ just for creating purposes */


/* ### Wrapper and header footer color ### */

#wrapper {
    margin: auto;
    width: 750px;
    font-family: "Roboto", sans-serif;
}

.barcolor {
    background-color: #CABBB7;
}


/* ### Header styles ### */

#header {
    height: 130px;
}

#header span {
    font-weight: bold;
    font-size: 115%;
    position: relative;
    top: 47%;
    left: 12%;
}

#header img {
    max-width: 32%;
    float: right;
    padding: 3.5% 5%;
}


/* ### Menu bar styles ### */

#menu {
    background-color: #C65252;
    text-align: right;
    padding-right: 60px;
    height: 42px;
}

#menu a {
    color: white;
    font-size: 120%;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    bottom: 7px;
    padding-right: 15px;
}


/* ################################################ CONTENT */

div#main {
    height: 500px;
}


/* ### Full width articles styles ### */

.fullwidth div {
    width: 45%;
    font-size: 300%;
    font-weight: bold;
    text-align: center;
    margin: auto;
}


/* ### Columns articles styles ### */

.column {
    width: 44%;
    margin-left: 5%;
    float: left;
}


/* ### Footer styles ### */

#footer {
    height: 110px;
}

#footer img {
    display: block;
    margin: 1.25% auto 0 auto;
    max-width: 21%;
}

#footer div {
    text-align: center;
    margin-top: 1.25%;
    font-weight: bold;
    font-size: 75%;
}