div {
    border: 1px solid black;
}

img {
    width: 100%;
}


/* ################################################################################# ^ just for creating purposes */

#wrapper {
    margin: auto;
    width: 750px;
    font-family: "Roboto", sans-serif;
}

#header,
#footer {
    background-color: #CABBB7;
}

#menu {
    background-color: #C65252;
    text-align: right;
    padding-right: 60px;
    height: 45px;
}

#menu a {
    color: whitesmoke;
    font-size: 120%;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    bottom: 6px;
    padding-right: 15px;
}